body {
	background-color: #ccc;
	margin: 0 auto;
}
#top-bar {
	width: 100%;
	height: 50px;
	background-color: #555;
	text-transform: uppercase;
}
#top-bar img {
	width: auto;
	height: 50px;
	float: left;

}
#top-bar input[type="text"] {
	width: 40%;
	margin-left: 1%;
	font-family: Roboto, sans-serif;
	color: #fff;
	line-height: 48px;
	text-indent: 45px;
	font-size: 25px;
	background-color: #555;
	border: 0;
	-webkit-appearance:none ;
	outline: none;
	font-weight: bold;
	
}
#top-bar input[type="text"]:focus {
	width: 40%;
	font-family:  Roboto, sans-serif;
	color: #fff;
	line-height: 48px;
	text-indent: 45px;
	font-size: 25px;
	background-color: #000;
	border: 0;
	-webkit-appearance:none ;
	outline: none;
	
}
#tiers {
	float: left;
      position: relative;
      left: 17.5%;
	margin-top: 1%;
	width: 70%;
	background-color: #fff;
	border: 3px solid #A6A6A6;
}
#ind-tier {
	width: 5%;
	height: 50px;
	margin: 1%;
	border-radius: 2px;
	float: left;
	font-family: Orbitron, Roboto, sans-serif;
	font-weight: bold;
	color: #555;
	line-height: 50px;
	text-align: center;
	font-size: 28px;
	border: 1px solid #ccc;

}
.ind-list {
	width: 90%;
	height: 100%;
	min-height: 50px;
	float: left;
	margin: 1%;
	border: 1px solid #ccc;

	

}
.ind-list img { width: 50px; height: 50px; position: relative; float: left; }
#ind-text {
	width: 50%;
	float: right;
	margin-right: 1%;
	margin-top: 5px;
	font-family: Roboto, sans-serif;
	color: #000;
	text-align: center;
	font-size: 12px;
}
.t1 { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcd76a+0,febf01+100 */
	background: rgb(252,215,106); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,215,106,1) 0%, rgba(254,191,1,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,215,106,1)), color-stop(100%,rgba(254,191,1,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,215,106,1) 0%,rgba(254,191,1,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,215,106,1) 0%,rgba(254,191,1,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,215,106,1) 0%,rgba(254,191,1,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,215,106,1) 0%,rgba(254,191,1,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd76a', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */
	
}
.t2, .t3, .t4 { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+0,b8deed+100 */
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 0%, rgba(184,222,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(0%,rgba(221,241,249,1)), color-stop(100%,rgba(184,222,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 0%,rgba(184,222,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 0%,rgba(184,222,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 0%,rgba(184,222,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 0%,rgba(184,222,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#b8deed',GradientType=0 ); /* IE6-9 */
}

.t5, .t6, .t7 { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8dbb9+0,c6b995+100 */
	background: rgb(232,219,185); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(232,219,185,1) 0%, rgba(198,185,149,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,219,185,1)), color-stop(100%,rgba(198,185,149,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(232,219,185,1) 0%,rgba(198,185,149,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(232,219,185,1) 0%,rgba(198,185,149,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(232,219,185,1) 0%,rgba(198,185,149,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(232,219,185,1) 0%,rgba(198,185,149,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8dbb9', endColorstr='#c6b995',GradientType=0 ); /* IE6-9 */
}

.t8 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e5ff+0,d2d1ff+100 */
	background: rgb(230,229,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(230,229,255,1) 0%, rgba(210,209,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,229,255,1)), color-stop(100%,rgba(210,209,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(230,229,255,1) 0%,rgba(210,209,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(230,229,255,1) 0%,rgba(210,209,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(230,229,255,1) 0%,rgba(210,209,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(230,229,255,1) 0%,rgba(210,209,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5ff', endColorstr='#d2d1ff',GradientType=0 ); /* IE6-9 */	
}
.t9 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9cff9+0,e8afea+100 */
	background: rgb(249,207,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,207,249,1) 0%, rgba(232,175,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,207,249,1)), color-stop(100%,rgba(232,175,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,207,249,1) 0%,rgba(232,175,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,207,249,1) 0%,rgba(232,175,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,207,249,1) 0%,rgba(232,175,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,207,249,1) 0%,rgba(232,175,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9cff9', endColorstr='#e8afea',GradientType=0 ); /* IE6-9 */
}
.t10 { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdad6+0,ffc3bc+100 */
	background: rgb(255,218,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,218,214,1) 0%, rgba(255,195,188,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,218,214,1)), color-stop(100%,rgba(255,195,188,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,218,214,1) 0%,rgba(255,195,188,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,218,214,1) 0%,rgba(255,195,188,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,218,214,1) 0%,rgba(255,195,188,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,218,214,1) 0%,rgba(255,195,188,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdad6', endColorstr='#ffc3bc',GradientType=0 ); /* IE6-9 */
}

#god-list {
	float: left;
	width: 29%;
	min-height: 100px;
	border: 3px solid #A6A6A6;
	background-color: #fff;
	margin-left: 1%;
	margin-top: 1%;
}
#god-list img {
	width: 50px;
	height: 50px;
	margin: 1%;
	float: left;
}
#bottom-rightd {
	float: left;
	width: 27%;
	margin-left: 1%;
	margin-top: 1%;
	height: 100px;
	text-align: center;
		font-family: Roboto, sans-serif;
	font-size: 18px;
	color: #000;
}
#bottom-rightd button, input[type="button"] {
	width: 20%;
	background-color: #ccc;
	border-radius: 5px;
	border: 0;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	color: #fff;
	height: 50px;
	margin-top: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
	cursor: pointer;
}
::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}